.categoria_letra{
	margin: 10px;
	font-size: 40px;
}

.libro_e{
	margin: 40px;
	position: relative;
	left: 60px;
}

.libro_a_img{
	display: inline-block;
	
}
.libro_a_tam_img{
	display: flex;
	width: 200px;
	height: 250px;
	margin: 10px;
}

.libro_a_tam_letra{
	position: relative;
	left: -5px;
	padding: 35px;
	margin: 15px;
	font-size: 20px;
}

.res{
	background-color: red;
	width: 50px;
	height: 40px;
}