.separacion{
    padding: 30px 0px 0px;
}

.contenedor_footer{
    background-color: #2079E0;
    width: 100%;
    
}
.centrar{
    background-color: #2079e0;
    width: 1130px;
    height: 100%;
    margin: auto;
}


.grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    
}

.grupo-1 .box p{
    width: 100%;
    height: auto;
    text-align: justify;
    color: white;
}

.grupo-1 .box h2{
    color: white;
    text-align: center;
}
.grupo-1 .box h3{
    color: white;
    text-align: center;
}
.grupo-2{
    border-top: white;
    border-top-style: solid;
    border-width: 1px;
    color: white;
    text-align: center;
    padding: 15px;
}

.grupo-2 small{
    font-size: 15px; 
}
