.libros_contenedor{
    background-color: white;
    width: auto;
    height: 330px;
    display: flex;
    justify-content: center;

}

.libros{
    background-color: white;
    width: 1130px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.libros img{
    width: 138px;
    height: 201px;
    border-radius: 10px;
    border-style: inset;
}
.contenedor_img1{
    width: 138px;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}
.contenedor_img1 h1{
    text-align: center;
}
.contenedor_img1 h2{
    text-align: center;
}