*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Oswald;
	text-decoration: none;
}

.direccionar .titulo{
	margin-left: auto;
	margin-right: auto;
	width: 1130px;
	height: 100%;

}
.direccionar .titulo a{
	font-size: 20px;
	color: black;
	text-decoration: underline;
}
.direccionar .interior a{
	font-size: 20px;
	color: black;
}




.libros_contenedor{
    background-color: white;
    width: 100%;
    height: auto;
	

}
.libros_contenedor .titulo a{
	text-decoration: underline;
	color: black;
}
.titulo{
	margin-left: auto;
	margin-right: auto;
	width: 1130px;
	height: auto;
	padding: 20px 25px ;
}

.libros{
    background-color:white;
    width: 1130px;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor_img1{
    width: 155px;
    height: auto;
    font-size: 9px;
    
}
.contenedor_img1 img{
    width: 138px;
    height: 201px;
    border-radius: 10px;
    border-style: inset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contenedor_img1 h1{
    text-align: center;
}
.contenedor_img1 h2{
    text-align: center;
}