*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald; /*Alliance No.1*/
    text-decoration: none;
}

/*Header*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}
/*Menu*/
.container__menu{
    width: 100%;
    height: 70px;
    background: blue;
    padding: 0px 20px ;
}
.menu{
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav  ul  li{
    height: 100%;
    list-style: none; 
    position: relative;
}
nav > ul > li >a{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    padding: 14px;
    align-items: center;
    text-transform: uppercase;
    transition: all 300ms ease ;
    font-size: 15px;
}
nav > ul >li > a:hover{
    transform: scale(1.1);
    background: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.5);
} 

/*SUBMENU*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    color: black;
    display: block;
    padding: 5px;
    padding-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #0074c7;
    color: white;
    transform: scale(1,1);
    padding-left: 30px;
    font-size: 15px;
}

@media screen and (max-width: 800px){
    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 1;
        visibility: visible;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    nav > ul > li:hover ul{
        top: 60px;
    }
    
}