
*{
    scrollbar-width: none;
    font-size: 20px;
}

h1,h2 , a, small, h3, b, p{
    font-size: 20px;
}
@media screen and (max-width: 600px) {

	.buscar, .nav1, #map, #p, #contacto{
        display: none;
        
	}
    .libros, .libros_contenedor{
        width: 100%;

    }
    #g, #h{
        display: none;
    }
    .marca{
        font-size: 30px;
    }

    #portalweb{
        position: relative;
        left: 20%;
        top: -5%;
    }

}

.menu-icon{
    float: right;
    margin: 30px;
    font-size: 60px;
    position: relative;
    left: 0%;

}
@media screen and (min-width: 601px) {
	.menu-icon {
        display: none;
	}
}


@media screen and (max-width: 768px) {
    .marca, #map, #g, #p{
        display: none;
    }

    .buscar{
        position: relative;
        top: 20px;
        width: 100%;
    }

    .nav1{
        position: relative; 
        width: 100%;
        bottom: 2vh;
        left: -490px;
    }

    .libros, .libros_contenedor{
        width: 100%;

    }
    .box{
        position: relative;
        width: 100%;
        padding: 0px;
        left: -8px;
    }

}

@media only screen and (max-width: 1100px) {
    #p, #map{
        display: none;
    }
    .marca{
        width: 100%;
    }
    .buscar{
        position: relative;
        top: 20px;
        left: 10%;
    }
    .nav1{
        position: relative; 
        width: 100%;
        bottom: 2vh;
        left: -410px;
    }

    .libros, .libros_contenedor{
        width: 100%;

    }


}



