
*{
    scrollbar-width: none;
}
@media screen and (max-width: 600px) {
	.buscar, .nav1, #map, .box, #p{
        display: none;
        
	}
    .libros, .libros_contenedor{
        width: 100%;

    }
    #g, #h{
        display: none;
    }
    .marca{
        font-size: 30px;
    }

}

.menu-icon{
    float: right;
    margin: 30px;
    font-size: 45px;

}
@media screen and (min-width: 601px) {
	.menu-icon{
        display: none;
	}
}


@media screen and (max-width: 768px) {
    .marca, #map, #g, #p{
        display: none;
    }

    .buscar{
        position: relative;
        top: 20px;
    }

    .nav1{
        position: relative; 
        width: 100%;
        bottom: 2vh;
        left: -490px;
    }

    .libros, .libros_contenedor{
        width: 100%;

    }
}

@media only screen and (max-width: 1120px) {
    #p{
        display: none;
    }
    .marca{
        width: 100%;
    }
    .buscar{
        position: relative;
        top: 20px;
        left: 10%;
    }
    .nav1{
        position: relative; 
        width: 100%;
        bottom: 2vh;
        left: -410px;
    }

    .libros, .libros_contenedor{
        width: 100%;

    }
}




